extends _layout

append styles
  link(rel="stylesheet" href="/styles/committee.css")

block main
  h1.title Committee

  h3: a(href="https://drive.google.com/open?id=0B8RGZhxPfAjSdjJvZVVldXdmY1k") View the CompSoc constitution &rarr;

  div.committee-members
    - for (const member of committee)
      section.committee-member
        div.info
          div.role
            h3!= member.name
            p!= member.role

          div.avatar
            img(src=`/images/committee/${member.avatar}.jpg`)

        div.bio!= member.bio

        - if ('social' in member)
          div.member-social
            - if ('twitter' in member.social)
              div.member-social-twitter
                a(href=`https://twitter.com/${member.social.twitter}` title=`${member.name} on Twitter (${member.social.twitter})` target="_blank")
                  img(src="/images/social/twitter.png" alt=`Twitter Logo`)
            - if ('instagram' in member.social)
              div.member-social-instagram
                a(href=`https://instagram.com/${member.social.instagram}` title=`${member.name} on Instagram (${member.social.instagram})` target="_blank")
                  img(src="/images/social/instagram.png" alt=`Instagram Logo`)
            - if ('github' in member.social)
              div.member-social-github
                a(href=`https://github.com/${member.social.github}` title=`${member.name} on Github (${member.social.github})` target="_blank")
                  img(src="/images/social/github.png" alt=`GitHub Logo`)
            - if ('facebook' in member.social)
              div.member-social-facebook
                a(href=`https://facebook.com/${member.social.facebook}` title=`${member.name} on Facebook (${member.social.facebook})` target="_blank")
                  img(src="/images/social/facebook.png" alt=`Facebook Logo`)