extends ../layout

append styles
  link(rel="stylesheet" type="text/css" href="/styles/events.css")

block main
  h1.title Socials

  - const now = new Date()
  section.upcoming
    h2 Upcoming
    div.month

      - for (const year of events) if (year)
        - for (const event of year) if (event.timestamp >= now)
          div.event
            time
              span.moy= event.moy
              span.dom= event.dom
            div.details
              div.name= event.title
              - if (event.link !== null)
                div.link: a(href=event.link.url)!= `${event.link.text} &rarr;`

    section.upcoming
      h3 Past Socials

      - for (const year of events) if (year)
        h2= year[0].acyear
        div.month
          - for (const event of year) if (event.timestamp < now)
            div.event
              time
                span.moy= event.moy
                span.dom= event.dom
              div.details
                div.name= event.title
                - if (event.link !== null)
                  div.link: a(href=event.link.url)!= `${event.link.text} &rarr;`
